USE [master]
GO
/****** Object:  Database [VTPROJEDB]    Script Date: 02/03/2021 06:13:47 ******/
CREATE DATABASE [VTPROJEDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MARKETDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MARKETDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MARKETDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MARKETDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VTPROJEDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VTPROJEDB]
GO
/****** Object:  Table [dbo].[BIRIM]    Script Date: 02/03/2021 06:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIRIM](
	[BirimAdi] [varchar](50) NULL,
	[BirimID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_BIRIM] PRIMARY KEY CLUSTERED 
(
	[BirimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FATURA]    Script Date: 02/03/2021 06:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FATURA](
	[FaturaID] [int] IDENTITY(1,1) NOT NULL,
	[FaturaTarihi] [smalldatetime] NULL,
 CONSTRAINT [PK_FATURA] PRIMARY KEY CLUSTERED 
(
	[FaturaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KARGO]    Script Date: 02/03/2021 06:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KARGO](
	[KargoID] [int] IDENTITY(1,1) NOT NULL,
	[KargoFirmasiAdi] [varchar](50) NULL,
 CONSTRAINT [PK_KARGO] PRIMARY KEY CLUSTERED 
(
	[KargoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KASA]    Script Date: 02/03/2021 06:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KASA](
	[Tarih] [smalldatetime] NULL,
	[MusteriID] [int] NULL,
	[Tutar] [numeric](10, 2) NULL,
	[Aciklama] [varchar](250) NULL,
	[KasaID] [int] IDENTITY(1,1) NOT NULL,
	[SorumluID] [int] NULL,
 CONSTRAINT [PK_KASA] PRIMARY KEY CLUSTERED 
(
	[KasaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KATEGORI]    Script Date: 02/03/2021 06:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KATEGORI](
	[KategoriAdi] [varchar](50) NULL,
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_KATEGORI] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KULLANICILAR]    Script Date: 02/03/2021 06:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KULLANICILAR](
	[KullanicilarID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [varchar](50) NULL,
	[Sifre] [varchar](50) NULL,
	[AdSoyad] [varchar](50) NULL,
	[KullaniciTuru] [bit] NULL,
 CONSTRAINT [PK_KULLANICILAR] PRIMARY KEY CLUSTERED 
(
	[KullanicilarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUSTERI]    Script Date: 02/03/2021 06:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUSTERI](
	[AdiSoyadi] [varchar](50) NULL,
	[Telefonu] [varchar](16) NULL,
	[Adresi] [varchar](250) NULL,
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_MUSTERI] PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATIS]    Script Date: 02/03/2021 06:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATIS](
	[Tarih] [smalldatetime] NULL,
	[MusteriID] [int] NULL,
	[ToplamTutar] [numeric](10, 2) NULL,
	[SatisID] [int] NOT NULL,
	[SorumluID] [int] NULL,
 CONSTRAINT [PK_SATIS] PRIMARY KEY CLUSTERED 
(
	[SatisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATISDANISMANI]    Script Date: 02/03/2021 06:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATISDANISMANI](
	[SatisDanismaniID] [int] IDENTITY(1,1) NOT NULL,
	[KullanicilarID] [int] NOT NULL,
 CONSTRAINT [PK_SATISDANISMANI] PRIMARY KEY CLUSTERED 
(
	[SatisDanismaniID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SATISDETAY]    Script Date: 02/03/2021 06:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SATISDETAY](
	[SatisID] [int] NULL,
	[UrunID] [int] NULL,
	[Miktar] [numeric](10, 3) NULL,
	[BirimFiyat] [numeric](10, 2) NULL,
	[Tutar] [numeric](10, 2) NULL,
	[SatisDetayID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_SATISDETAY] PRIMARY KEY CLUSTERED 
(
	[SatisDetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URUN]    Script Date: 02/03/2021 06:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URUN](
	[Adi] [varchar](50) NULL,
	[Barkodu] [varchar](20) NULL,
	[BirimID] [int] NULL,
	[KategoriID] [int] NULL,
	[SatisFiyati] [numeric](10, 2) NULL,
	[UrunID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_URUN] PRIMARY KEY CLUSTERED 
(
	[UrunID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YONETICI]    Script Date: 02/03/2021 06:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YONETICI](
	[YoneticiID] [int] IDENTITY(1,1) NOT NULL,
	[KullanicilarID] [int] NULL,
 CONSTRAINT [PK_YONETICI] PRIMARY KEY CLUSTERED 
(
	[YoneticiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BIRIM] ON 

INSERT [dbo].[BIRIM] ([BirimAdi], [BirimID]) VALUES (N'ADET', 4)
INSERT [dbo].[BIRIM] ([BirimAdi], [BirimID]) VALUES (N'CM', 2)
INSERT [dbo].[BIRIM] ([BirimAdi], [BirimID]) VALUES (N'KG', 3)
SET IDENTITY_INSERT [dbo].[BIRIM] OFF
GO
SET IDENTITY_INSERT [dbo].[KATEGORI] ON 

INSERT [dbo].[KATEGORI] ([KategoriAdi], [KategoriID]) VALUES (N'BUZDOLABI', 3)
INSERT [dbo].[KATEGORI] ([KategoriAdi], [KategoriID]) VALUES (N'ELMA', 4)
SET IDENTITY_INSERT [dbo].[KATEGORI] OFF
GO
SET IDENTITY_INSERT [dbo].[KULLANICILAR] ON 

INSERT [dbo].[KULLANICILAR] ([KullanicilarID], [KullaniciAdi], [Sifre], [AdSoyad], [KullaniciTuru]) VALUES (25, N'admin', N'123', N'Berkay Şahin', 1)
INSERT [dbo].[KULLANICILAR] ([KullanicilarID], [KullaniciAdi], [Sifre], [AdSoyad], [KullaniciTuru]) VALUES (26, N'Cüneyt', N'Arkın', N'Cüneyt Arkın', 0)
INSERT [dbo].[KULLANICILAR] ([KullanicilarID], [KullaniciAdi], [Sifre], [AdSoyad], [KullaniciTuru]) VALUES (27, N'cüneyt222', N'çakır', N'Cüneyt Çakır', 1)
SET IDENTITY_INSERT [dbo].[KULLANICILAR] OFF
GO
SET IDENTITY_INSERT [dbo].[MUSTERI] ON 

INSERT [dbo].[MUSTERI] ([AdiSoyadi], [Telefonu], [Adresi], [MusteriID]) VALUES (N'Kemal Sunal', N'5555555555', N'İstanbul', 1)
INSERT [dbo].[MUSTERI] ([AdiSoyadi], [Telefonu], [Adresi], [MusteriID]) VALUES (N'Mehmet', N'1111111111', N'Adress example', 4)
SET IDENTITY_INSERT [dbo].[MUSTERI] OFF
GO
INSERT [dbo].[SATIS] ([Tarih], [MusteriID], [ToplamTutar], [SatisID], [SorumluID]) VALUES (CAST(N'2021-03-02T00:00:00' AS SmallDateTime), 1, CAST(6753.00 AS Numeric(10, 2)), 1, 25)
INSERT [dbo].[SATIS] ([Tarih], [MusteriID], [ToplamTutar], [SatisID], [SorumluID]) VALUES (CAST(N'2021-03-02T00:00:00' AS SmallDateTime), 4, CAST(6753.00 AS Numeric(10, 2)), 2, 25)
GO
SET IDENTITY_INSERT [dbo].[SATISDANISMANI] ON 

INSERT [dbo].[SATISDANISMANI] ([SatisDanismaniID], [KullanicilarID]) VALUES (1022, 25)
INSERT [dbo].[SATISDANISMANI] ([SatisDanismaniID], [KullanicilarID]) VALUES (22, 26)
SET IDENTITY_INSERT [dbo].[SATISDANISMANI] OFF
GO
SET IDENTITY_INSERT [dbo].[SATISDETAY] ON 

INSERT [dbo].[SATISDETAY] ([SatisID], [UrunID], [Miktar], [BirimFiyat], [Tutar], [SatisDetayID]) VALUES (1, 1, CAST(3.000 AS Numeric(10, 3)), CAST(2250.00 AS Numeric(10, 2)), CAST(6750.00 AS Numeric(10, 2)), 8)
INSERT [dbo].[SATISDETAY] ([SatisID], [UrunID], [Miktar], [BirimFiyat], [Tutar], [SatisDetayID]) VALUES (1, 3, CAST(1.000 AS Numeric(10, 3)), CAST(3.00 AS Numeric(10, 2)), CAST(3.00 AS Numeric(10, 2)), 9)
INSERT [dbo].[SATISDETAY] ([SatisID], [UrunID], [Miktar], [BirimFiyat], [Tutar], [SatisDetayID]) VALUES (2, 1, CAST(3.000 AS Numeric(10, 3)), CAST(2250.00 AS Numeric(10, 2)), CAST(6750.00 AS Numeric(10, 2)), 10)
SET IDENTITY_INSERT [dbo].[SATISDETAY] OFF
GO
SET IDENTITY_INSERT [dbo].[URUN] ON 

INSERT [dbo].[URUN] ([Adi], [Barkodu], [BirimID], [KategoriID], [SatisFiyati], [UrunID]) VALUES (N'BEKO', N'5165156315415313', 4, 3, CAST(2250.00 AS Numeric(10, 2)), 1)
INSERT [dbo].[URUN] ([Adi], [Barkodu], [BirimID], [KategoriID], [SatisFiyati], [UrunID]) VALUES (N'YERLİ', N'4572572452752757', 3, 4, CAST(3.00 AS Numeric(10, 2)), 3)
SET IDENTITY_INSERT [dbo].[URUN] OFF
GO
SET IDENTITY_INSERT [dbo].[YONETICI] ON 

INSERT [dbo].[YONETICI] ([YoneticiID], [KullanicilarID]) VALUES (9, 25)
INSERT [dbo].[YONETICI] ([YoneticiID], [KullanicilarID]) VALUES (10, 27)
INSERT [dbo].[YONETICI] ([YoneticiID], [KullanicilarID]) VALUES (11, 28)
SET IDENTITY_INSERT [dbo].[YONETICI] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BIRIM]    Script Date: 02/03/2021 06:13:48 ******/
ALTER TABLE [dbo].[BIRIM] ADD  CONSTRAINT [IX_BIRIM] UNIQUE NONCLUSTERED 
(
	[BirimAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_KATEGORI]    Script Date: 02/03/2021 06:13:48 ******/
ALTER TABLE [dbo].[KATEGORI] ADD  CONSTRAINT [IX_KATEGORI] UNIQUE NONCLUSTERED 
(
	[KategoriAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SATISDANISMANI]    Script Date: 02/03/2021 06:13:48 ******/
ALTER TABLE [dbo].[SATISDANISMANI] ADD  CONSTRAINT [IX_SATISDANISMANI] UNIQUE NONCLUSTERED 
(
	[KullanicilarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_YONETICI]    Script Date: 02/03/2021 06:13:48 ******/
ALTER TABLE [dbo].[YONETICI] ADD  CONSTRAINT [IX_YONETICI] UNIQUE NONCLUSTERED 
(
	[KullanicilarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KASA]  WITH CHECK ADD  CONSTRAINT [FK_KASA_MUSTERI] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[MUSTERI] ([MusteriID])
GO
ALTER TABLE [dbo].[KASA] CHECK CONSTRAINT [FK_KASA_MUSTERI]
GO
ALTER TABLE [dbo].[KASA]  WITH CHECK ADD  CONSTRAINT [FK_KASA_SATISDANISMANI] FOREIGN KEY([SorumluID])
REFERENCES [dbo].[SATISDANISMANI] ([KullanicilarID])
GO
ALTER TABLE [dbo].[KASA] CHECK CONSTRAINT [FK_KASA_SATISDANISMANI]
GO
ALTER TABLE [dbo].[SATIS]  WITH CHECK ADD  CONSTRAINT [FK_SATIS_MUSTERI] FOREIGN KEY([MusteriID])
REFERENCES [dbo].[MUSTERI] ([MusteriID])
GO
ALTER TABLE [dbo].[SATIS] CHECK CONSTRAINT [FK_SATIS_MUSTERI]
GO
ALTER TABLE [dbo].[SATIS]  WITH CHECK ADD  CONSTRAINT [FK_SATIS_SATIS] FOREIGN KEY([SatisID])
REFERENCES [dbo].[SATIS] ([SatisID])
GO
ALTER TABLE [dbo].[SATIS] CHECK CONSTRAINT [FK_SATIS_SATIS]
GO
ALTER TABLE [dbo].[SATIS]  WITH CHECK ADD  CONSTRAINT [FK_SATIS_SATISDANISMANI] FOREIGN KEY([SorumluID])
REFERENCES [dbo].[SATISDANISMANI] ([KullanicilarID])
GO
ALTER TABLE [dbo].[SATIS] CHECK CONSTRAINT [FK_SATIS_SATISDANISMANI]
GO
ALTER TABLE [dbo].[SATISDANISMANI]  WITH CHECK ADD  CONSTRAINT [FK_SATISDANISMANI_KULLANICILAR] FOREIGN KEY([KullanicilarID])
REFERENCES [dbo].[KULLANICILAR] ([KullanicilarID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SATISDANISMANI] CHECK CONSTRAINT [FK_SATISDANISMANI_KULLANICILAR]
GO
ALTER TABLE [dbo].[SATISDETAY]  WITH CHECK ADD  CONSTRAINT [FK_SATISDETAY_SATIS] FOREIGN KEY([SatisID])
REFERENCES [dbo].[SATIS] ([SatisID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SATISDETAY] CHECK CONSTRAINT [FK_SATISDETAY_SATIS]
GO
ALTER TABLE [dbo].[SATISDETAY]  WITH CHECK ADD  CONSTRAINT [FK_SATISDETAY_URUN] FOREIGN KEY([UrunID])
REFERENCES [dbo].[URUN] ([UrunID])
GO
ALTER TABLE [dbo].[SATISDETAY] CHECK CONSTRAINT [FK_SATISDETAY_URUN]
GO
ALTER TABLE [dbo].[URUN]  WITH CHECK ADD  CONSTRAINT [FK_URUN_BIRIM] FOREIGN KEY([BirimID])
REFERENCES [dbo].[BIRIM] ([BirimID])
GO
ALTER TABLE [dbo].[URUN] CHECK CONSTRAINT [FK_URUN_BIRIM]
GO
ALTER TABLE [dbo].[URUN]  WITH CHECK ADD  CONSTRAINT [FK_URUN_KATEGORI] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[KATEGORI] ([KategoriID])
GO
ALTER TABLE [dbo].[URUN] CHECK CONSTRAINT [FK_URUN_KATEGORI]
GO
ALTER TABLE [dbo].[YONETICI]  WITH CHECK ADD  CONSTRAINT [FK_YONETICI_KULLANICILAR] FOREIGN KEY([KullanicilarID])
REFERENCES [dbo].[KULLANICILAR] ([KullanicilarID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[YONETICI] CHECK CONSTRAINT [FK_YONETICI_KULLANICILAR]
GO
/****** Object:  StoredProcedure [dbo].[SP_KullaniciEkle]    Script Date: 02/03/2021 06:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KullaniciEkle]
(
@KullaniciAdi varchar(50),
@Sifre varchar(50),
@AdSoyad varchar(50),
@KullaniciTuru bit
)
AS
IF EXISTS(SELECT * FROM dbo.KULLANICILAR WHERE  KullaniciAdi=@KullaniciAdi)
BEGIN
	return
END
ELSE
BEGIN

	INSERT INTO dbo.KULLANICILAR(KullaniciAdi,Sifre,AdSoyad, KullaniciTuru) values 
							(@KullaniciAdi,@Sifre,@AdSoyad,@KullaniciTuru)

	declare @s int
	select @s=KullanicilarID from KULLANICILAR where KullaniciAdi=@KullaniciAdi


	IF EXISTS(SELECT * FROM dbo.YONETICI WHERE KullanicilarID=@s)
	BEGIN
		delete from dbo.YONETICI where KullanicilarID = @s
	END

	IF EXISTS(SELECT * FROM dbo.SATISDANISMANI WHERE  KullanicilarID=@s)
	BEGIN
		delete from dbo.SATISDANISMANI where KullanicilarID = @s
	END


	IF @kullaniciTuru = 1
	BEGIN
		INSERT INTO dbo.YONETICI(KullanicilarID) values (@s)
		INSERT INTO dbo.SATISDANISMANI(KullanicilarID) values (@s)
	END
	ELSE
	BEGIN
		INSERT INTO dbo.SATISDANISMANI(KullanicilarID) values (@s)
	END
END
GO
/****** Object:  Trigger [dbo].[TR_GuncelleKullanici]    Script Date: 02/03/2021 06:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[TR_GuncelleKullanici] on [dbo].[KULLANICILAR] 
for update
as
begin

   declare @kullaniciTuru int, @kullaniciID int

   select @kullaniciTuru=KullaniciTuru, @kullaniciID=KullanicilarID from inserted 

   IF EXISTS(SELECT * FROM dbo.YONETICI WHERE KullanicilarID=@kullaniciID)
	BEGIN
		delete from dbo.YONETICI where KullanicilarID = @kullaniciID
	END

	IF EXISTS(SELECT * FROM dbo.SATISDANISMANI WHERE  KullanicilarID=@kullaniciID)
	BEGIN
		delete from dbo.SATISDANISMANI where KullanicilarID = @kullaniciID
	END

   IF @kullaniciTuru = 1
	BEGIN
		INSERT INTO dbo.YONETICI(KullanicilarID) values 
								(@kullaniciID)
	END
	ELSE
	BEGIN
		INSERT INTO dbo.SATISDANISMANI(KullanicilarID) values 
								(@kullaniciID)
	END
end
GO
ALTER TABLE [dbo].[KULLANICILAR] ENABLE TRIGGER [TR_GuncelleKullanici]
GO
/****** Object:  Trigger [dbo].[TR_SilKullanici]    Script Date: 02/03/2021 06:13:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[TR_SilKullanici] on [dbo].[KULLANICILAR] 
for delete
as
begin

   declare @kullaniciTuru int, @kullaniciID int

   select @kullaniciTuru=KullaniciTuru, @kullaniciID=KullanicilarID from deleted 

   IF EXISTS(SELECT * FROM dbo.YONETICI WHERE KullanicilarID=@kullaniciID)
	BEGIN
		delete from dbo.YONETICI where KullanicilarID = @kullaniciID
	END

	IF EXISTS(SELECT * FROM dbo.SATISDANISMANI WHERE  KullanicilarID=@kullaniciID)
	BEGIN
		delete from dbo.SATISDANISMANI where KullanicilarID = @kullaniciID
	END
end
GO
ALTER TABLE [dbo].[KULLANICILAR] ENABLE TRIGGER [TR_SilKullanici]
GO
USE [master]
GO
